* { margin: 0;  padding: 0; box-sizing: border-box }

body
{
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    text-align: center;

    font-family: Helvetica, Arial, sans-serif;

    padding: 2em;
    margin: 0 auto;

    background-color: #eee;
}

todos
{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

todos > h1
{
    font-size: 4em;
    margin-bottom: .25em;
}

todos > input[type=text]
{
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 3px;

    box-shadow: 0px 10px 20px rgba(0,0,0,.1);
    margin-bottom: 2em;
}

todos > ul
{
    list-style: none;
    margin: 0 auto;

    box-shadow: 0px 10px 20px rgba(0,0,0,.1);
    border-radius: .5em;
    overflow: hidden;
}

todos > ul > li
{
    display: block;
    position: relative;

    /* background-image: linear-gradient(180deg, #fff 80%,#f9f9f9); */
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

todos > ul > li:last-child
{
    border-bottom: none;
}

todos > ul > li > label
{
    width: 1em;
    height: 1em;

    position: absolute;
    top: .5em;
    left: .5em;
    
    border-radius: 100%;
    color: #06c;
    border: 2px solid #06c;

    cursor: pointer;
}

todos > ul > li > label > input[type="checkbox"]
{
    width: 100%;
    display: none;
}

todos > ul > li > label > span
{
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 0;
    height: 0;

    background-color: #06c;
    border-radius: 100%;
    transform: translate(-50%,-50%);

    transition: padding .1s;
}

todos > ul > li > label > input[type="checkbox"]:checked + span
{
    padding: .25em;
}

todos > ul > li > input[type=text]
{
    width: 100%;
    padding: 1em;
    padding-left: 3em;
    line-height: 1em;

    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;

    background-color: transparent;
    color: #333;
}

todos > ul > li > input[type=text][readonly]
{
    color: #999;
}

todos > ul > li > span.delete
{
    width: 1em;
    height: 1em;

    position: absolute;
    top: .5em;
    right: .5em;

    background-color: #999;
    border-radius: 100%;

    display: none;
    cursor: pointer;
}

todos > ul > li > span.delete::before
{
    position: absolute;
    top: 50%;
    left: 50%;
    content: "×";
    
    font-size: 1em;
    color: #fff;
    transform: translate(-50%,-50%);
}

todos > ul > li:hover > span.delete
{
    display: block;
}

todos > .status
{
    padding: 1em;
    font-size: .8em;
    border-radius: .5em;
    margin-top: 1em;
    color: #ccc;

}